[submodule "src/worker/capstone/capstone"]
	path = src/worker/capstone/capstone
	url = git://github.com/aquynh/capstone.git
[submodule "src/worker/xed/xed"]
	path = src/worker/xed/xed
	url = git://github.com/intelxed/xed.git
[submodule "src/worker/xed/mbuild"]
	path = src/worker/xed/mbuild
	url = git://github.com/intelxed/mbuild.git
[submodule "src/worker/zydis/zydis"]
	path = src/worker/zydis/zydis
	url = git://github.com/zyantific/zydis.git
[submodule "src/worker/udis86/udis86"]
	path = src/worker/udis86/udis86
	url = git://github.com/vmt/udis86.git
[submodule "src/worker/dynamorio/dynamorio"]
	path = src/worker/dynamorio/dynamorio
	url = https://github.com/DynamoRIO/dynamorio.git
[submodule "src/worker/fadec/fadec"]
	path = src/worker/fadec/fadec
	url = https://github.com/aengelke/fadec.git
[submodule "src/worker/bddisasm/bddisasm"]
	path = src/worker/bddisasm/bddisasm
	url = https://github.com/bitdefender/bddisasm.git
	branch = master
[submodule "src/worker/iced/iced"]
	path = src/worker/iced/iced
	url = https://github.com/0xd4d/iced.git
