name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron:  '0 12 * * *'

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependencies
        run: sudo apt install -y cppcheck clang-format
      - name: Lint
        run: |
          make fmt && git diff --exit-code
          make lint

  docker-build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        submodules: true

    - name: Docker build
      run: docker build -t mishegos .

    - name: Docker Smoketest
      run: |
        docker run --rm mishegos bash -eo pipefail -c './src/mishegos/mishegos -m manual ./workers.spec <<< "90" | ./src/mish2jsonl/mish2jsonl' | jq .

    - name: Docker Test Fuzz
      run: |
        docker run --rm mishegos bash -eo pipefail -c \
          '(timeout --preserve-status 5s ./src/mishegos/mishegos -s 0 ./workers.spec || true) | ./src/mish2jsonl/mish2jsonl | tail'

  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        submodules: true

    - name: Install dependencies
      run: sudo bash scripts/docker/install_dev_deps.sh

    - name: Build
      run: make -j$(nproc)

    - name: Smoketest
      # Disassemble NOP
      run: |
        set -eo pipefail
        ./src/mishegos/mishegos -m manual ./workers.spec <<< "90" | ./src/mish2jsonl/mish2jsonl | jq .

    - name: Test Fuzz
      run: |
        set -eo pipefail
        (timeout --preserve-status 5s ./src/mishegos/mishegos -s 0 ./workers.spec || true) | ./src/mish2jsonl/mish2jsonl | tail
